.details-header {
    background-color: #282c34;
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    font-size: calc(10px + 2vmin);
    color: white;
}

.detailsLogo {
    width: 3%;
    margin-left: 5%;
    margin-top: 0%;
    /* margin-bottom: 2%; */
}

.detailsTitle {
    text-align: center;
    margin-bottom: 0em;
    margin-left: 1%;
    font-size: 24px;
    color: rgb(239, 222, 222);
    font-weight: 800;
}

.logoutBtn {
    margin-left: 20px;
}

.details-breadcrumbs {
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    font-size: calc(10px + 2vmin);
}

.details-breadcrumb-capsule {
    width: 300px;
    height: 35px;
    background-color: aliceblue;
    border: 1px solid lightgray;
    border-radius: 10px;
    font-size: medium;
    color: gray;
    padding-left: 20px;
    padding-top: 4px;
    padding-right: 20px;
    margin-left: 2%;
}

.details-filtersLogo {
    width: 1%;
    margin-left: 2%;
    margin-top: 0%;
    /* margin-bottom: 2%; */
}

.detailsrow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 1%;
}

.details-row1col {
    width: 45%;
    height: 50vh;
    border: 1px solid lightgray;
    border-radius: 10px;
    /* padding: 1%; */
    margin-left: 1%;
}

.detailscol {
    height: 45vh;
    width: 100%;
}

.details-colHeader {
    height: 35px;
    width: 100%;
    padding-left: 25px;
    padding-top: 5px;
    /* background-color: #548bf2; */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: gray;
    /* font-weight: bold; */
}

.backBtn {
    /* float: right; */
    background-color: green;
    margin-left: 67%;
    margin-right: 2%;
}